{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}"><button class="btn btn-primary my-2 my-sm-0">Login</button></a>
		</div>
	</div>
	<div class="container">
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1 align="right"><font color="#FF4500">Electronic Gadgets System</font></h1>
		</div>
	</div>
</div>
   
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for gadget in gadgets %}
		<a href = "{{url_for('showMenu', gadget_id = gadget.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 gadget-list">
						<h3><font color="#FF4500">{{gadget.name}}</font></h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
